<div class="sticky-top pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'productos.listar' %}active{% endif %}" href="{{ url_for('productos.listar') }}">
                <i class="bi bi-tshirt"></i> Productos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'ventas.nueva' %}active{% endif %}" href="{{ url_for('ventas.listar') }}">
                <i class="bi bi-cash-stack"></i> Ventas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'stock.gestion' %}active{% endif %}" href="{{ url_for('stock.gestion') }}">
                <i class="bi bi-box-seam"></i> Stock
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'caja.gestion' %}active{% endif %}" href="{{ url_for('caja.gestion') }}">
                <i class="bi bi-cash-coin"></i> Caja
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-gear"></i> Configuración
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('configuracion.clubes') }}">Clubes</a></li>
                <li><a class="dropdown-item" href="{{ url_for('configuracion.categorias') }}">Categorías</a></li>
                <li><a class="dropdown-item" href="{{ url_for('configuracion.clientes') }}">Clientes</a></li>
                <li><a class="dropdown-item" href="{{ url_for('configuracion.proveedores') }}">Proveedores</a></li>
            </ul>
        </li>
    </ul>
</div>