{% extends 'base.html' %}

{% block title %}Cargar Nuevo Producto{% endblock %}

{% block content %}
    <h1>Cargar Nuevo Producto</h1>
    <form method="POST">
        {{ form.csrf_token }} <div class="mb-3">
            {{ form.nombre.label(class="form-label") }}
            {{ form.nombre(class="form-control") }}
            {% if form.nombre.errors %}
                {% for error in form.nombre.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.categoria.label(class="form-label") }}
            {{ form.categoria(class="form-control") }}
            {% if form.categoria.errors %}
                {% for error in form.categoria.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.equipo.label(class="form-label") }}
            {{ form.equipo(class="form-control") }}
            {% if form.equipo.errors %}
                {% for error in form.equipo.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.temporada.label(class="form-label") }}
            {{ form.temporada(class="form-control") }}
            {% if form.temporada.errors %}
                {% for error in form.temporada.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        
        {{ form.submit(class="btn btn-success") }}
    </form>
{% endblock %}